*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea
LatamMobileAndroid.iml
gradle.properties
*.iml
.externalNativeBuild
libwebp
.classpath
.project
.settings
/out
